@font-face {
    font-family: 'Shintia Script';
    src: url('../fonts/shintia/ShintiaScript.eot');
    src: url('../fonts/shintia/ShintiaScript.eot') format('embedded-opentype'),
        url('../fonts/shintia/ShintiaScript.woff2') format('woff2'),
        url('../fonts/shintia/ShintiaScript.woff') format('woff'),
        url('../fonts/shintia/ShintiaScript.ttf') format('truetype'),
        url('../fonts/shintia/ShintiaScript.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.custom-shadow {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%) !important
}
.custom-vert{
    color: #83C5BE;
}
.custom-bleu{
    color: #77A8CC !important;
}
.custom-bg-vert{
    background-color: #83C5BE;
}
.custom-bg-bleu{
    background-color: #77A8CC;
}
.custom-shadow-card{
    box-shadow: 5px 5px 15px 5px #77A8CC;
}
.jpjp {
    width: 100px;
}

/* swiper*/
.swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    /* ingredients */
   .aliment{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #77A8CC;
    box-shadow: 5px 5px 15px 5px #83C5BE ;
   }
   /*swiper2*/

.carousel {
    padding: 20px;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel > * {
    flex: 0 0 auto;
}
.carousel figure {
    margin: 0;
    width: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% -482.8427124746px;
}
.carousel figure img {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    opacity: 1;
    border-radius: 20%;
}
.carousel figure img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 50% -482.8427124746px;
}
.carousel figure img:nth-child(2) {
    transform: rotateY(0.7853981634rad);
}
.carousel figure img:nth-child(3) {
    transform: rotateY(1.5707963268rad);
}
.carousel figure img:nth-child(4) {
    transform: rotateY(2.3561944902rad);
}
.carousel figure img:nth-child(5) {
    transform: rotateY(3.1415926536rad);
}
.carousel figure img:nth-child(6) {
    transform: rotateY(3.926990817rad);
}
.carousel figure img:nth-child(7) {
    transform: rotateY(4.7123889804rad);
}
.carousel figure img:nth-child(8) {
    transform: rotateY(5.4977871438rad);
}
.carousel nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
}
.carousel nav button {
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: white;
    background: #77A8CC;
    border: none;
    letter-spacing: 1px;
    padding: 5px 10px;
    border-radius: 15%;
}
 h2{
    font-family: 'Shintia Script';
    color: #c79d6f;
 }
 .tailleImage{
    max-width: 100%;
    width: 400px;
 }
 .taillePolice{
    font-size: 1.2rem;
    
 }
 hr{
    color: #77A8CC;
  
    height: 15px;
    size: 10px;
 }
.btn-primary{
    --bs-btn-hover-bg: #77A8CC !important;
    --bs-btn-hover-border-color: #77A8CC !important;
    --bs-btn-active-bg:#77A8CC !important;
    --bs-btn-active-border-color: #77A8CC !important;
    -bs-btn-bg:  #77A8CC !important;
    --bs-btn-border-color:  #77A8CC !important;
}
 