@font-face {
  font-family: 'Christmas Day';
  src: url('../fonts/christmas/ChristmasDayRegular.eot');
  src: url('../fonts/christmas/ChristmasDayRegular.eot') format('embedded-opentype'),
      url('../fonts/christmas/ChristmasDayRegular.woff2') format('woff2'),
      url('../fonts/christmas/ChristmasDayRegular.woff') format('woff'),
      url('../fonts/christmas/ChristmasDayRegular.ttf') format('truetype'),
      url('../fonts/christmas/ChristmasDayRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Jangthai';
    src:url('../fonts/jangthai/Jangthai.woff') format('woff'),
        url('../fonts/jangthai/Jangthai.svg') format('svg'),
        url('../fonts/jangthai/Jangthai.eot'),
        url('../fonts/jangthai/Jangthai.eot') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Shintia Script';
    src: url('../fonts/shintia/ShintiaScript.eot');
    src: url('../fonts/shintia/ShintiaScript.eot') format('embedded-opentype'),
        url('../fonts/shintia/ShintiaScript.woff2') format('woff2'),
        url('../fonts/shintia/ShintiaScript.woff') format('woff'),
        url('../fonts/shintia/ShintiaScript.ttf') format('truetype'),
        url('../fonts/shintia/ShintiaScript.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






/*présentation*/
#présentation 
{
  width: 40%;
  margin: auto;
  margin-top: 3%;
  padding: 2%;
  text-align: center;
  box-shadow: 5px 5px 15px 5px rgba(109,166,195,255) ;
}
#présentation p
{
    color: #2D2A32;
}
/* barre de recherche*/
#searchbar
{
     margin-top:8% ;
     margin-left: 15%;
     padding:15px;
     border-radius: 10px;
     margin-bottom: 5%;
     
}
input[type=text] {
    width: 30%;
    -webkit-transition: width 800ms ease-in-out;
    transition: width 800ms ease-in-out;
 }

 /* When the input field gets focus,
      change its width to 100% */
 input[type=text]:focus {
   width: 70%;
 }
 /*savoir faire*/
 h2
 {
    font-family: 'Shintia Script';
    font-size: 50px;
    color: #c79d6f;
    text-align: center;
    margin-top: 5%;
 }

 /*nav barre*/
#navbarre
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
    
}
#navbarre img
{
    width: 90%;
}
#apero
{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 1;
    padding: 3% 1% 6% 3%;
    margin-right: 1%;
    background-color: #83C5BE;
    box-shadow: 5px 5px 15px 5px #77A8CC;
    border-radius: 20px;
}
#entrees
{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 1;
    padding: 3% 1% 6% 3%;
    margin-right: 1%;
    background-color: #83C5BE;
    box-shadow: 5px 5px 15px 5px #77A8CC;
    border-radius: 20px;
}
#plats
{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 1;
    padding: 3% 1% 6% 3%;
    margin-right: 1%;
    background-color: #83C5BE;
    box-shadow: 5px 5px 15px 5px #77A8CC;
    border-radius: 20px;
}#desserts
{
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 1;
    padding: 3% 1% 6% 3%;
    margin-right: 1%;
    background-color: #83C5BE;
    box-shadow: 5px 5px 15px 5px #77A8CC;
    border-radius: 20px;
}
#apero:hover
{
    opacity: 0.5;
}
#entrees:hover
{
    opacity: 0.5;
}
#plats:hover
{
    opacity: 0.5;
}
#desserts:hover
{
    opacity: 0.5;
}
#navbarre p
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FBFCF4;
    margin-left: -3%;
}
/* ingrédients*/
#ingrédient 
{
    margin-top: 7%;
}





/* footer*/
#footer
{
    display: flex;
    flex-direction: row;
    background-color: #77A8CC;
    color: #FBFCF4;
    justify-content: space-around;
    margin-top: 5%;
}

.aliment {
    color: white;
}

#ingrédient p:hover
{
    width: 105px;
    height: 105px;
    opacity: 0.8;
}


/*______________________________________________________________________________________*/
