@font-face {
    font-family: 'Agent Orange';
    src: url('AgentOrange.eot');
    src: url('AgentOrange.eot?#iefix') format('embedded-opentype'),
        url('AgentOrange.woff2') format('woff2'),
        url('AgentOrange.woff') format('woff'),
        url('AgentOrange.ttf') format('truetype'),
        url('AgentOrange.svg#AgentOrange') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

